@inherits UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="page-header">
				<h1>@Umbraco.Field("pageName")</h1>
			</div>

			@Umbraco.Field("bodyText")

		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<footer>
				Updated by 
				@Umbraco.Field("writerName")
				on
				@Umbraco.Field("updateDate", formatAsDate: true)
			</footer>
		</div>
	</div>
</div>