/* TINYMCE RTE EDITOR */

body.mceContentBody, body.mce-content-body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #898989;
    }


/**umb_name:Headline*/
h2{}

/**umb_name:intro*/
h4{}